
// SCSS VARIABLES

// COLORS

// Primary
$col-primary-1: hsl(263, 55%, 52%);
$col-primary-2: hsl(217, 19%, 35%);
$col-primary-3: hsl(219, 29%, 14%);
$col-primary-4: hsl(0, 0%, 100%);

// NEUTRALL
$col-neutral-1: hsl(0, 0%, 81%);
$col-neutral-2: hsl(210, 46%, 95%);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


// CSS VARIABLES
:root {
    --gutter-vertical: 3rem;
    --gutter-horizontal: 3rem;
}

@media only screen and (max-width: 1110px) {
    :root {
        --gutter-vertical: 2rem;
        --gutter-horizontal: 2rem;
    }   
}